.mango-skeleton {
    background: rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    display: block;
}

[data-theme='dark'] .mango-skeleton {
    background: rgba(255, 255, 255, 0.05);
}

.mango-skeleton.animate-pulse {
    animation: mango-skeleton-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.mango-skeleton-shimmer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.08),
            transparent);
    animation: mango-skeleton-shimmer 2s infinite;
}

[data-theme='dark'] .mango-skeleton-shimmer {
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.03),
            transparent);
}

@keyframes mango-skeleton-pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

@keyframes mango-skeleton-shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

/* Variants */
.mango-skeleton.is-text {
    border-radius: 4px;
    height: 1em;
}

.mango-skeleton.is-circular {
    border-radius: 50%;
}

.mango-skeleton.is-rectangular {
    border-radius: 4px;
}

.mango-skeleton.is-rounded {
    border-radius: 12px;
}