.spinner-root {
    border: 3px solid rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}