.breadcrumbs-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    color: var(--labelSecondaryColor);
    transition: all 0.2s;
}

.breadcrumb-link {
    cursor: pointer;
    font-weight: 500;
}

.breadcrumb-link:hover {
    color: var(--primaryColor);
}

.breadcrumb-item.active {
    color: var(--textColor);
    font-weight: 700;
}

.breadcrumb-separator {
    display: flex;
    align-items: center;
    color: var(--labelSecondaryColor);
    opacity: 0.5;
}

.breadcrumb-icon {
    display: flex;
    align-items: center;
    color: var(--primaryColor);
}